<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
    <link href="~/Content/OnlineOrderForDigitalrintingOfPhotos/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/Content/OnlineOrderForDigitalrintingOfPhotos/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!--script-->
    <script type='text/javascript' src="~/Content/OnlineOrderForDigitalrintingOfPhotos/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <!--header_top-->
    @Html.Partial("~/Views/Shared/UserLayout/_Header_Top.cshtml")

    <!--header-->
    @Html.Partial("~/Views/Shared/UserLayout/_Header.cshtml")

    <div>
        @RenderBody()
    </div>

    <!--footer_top-->
    @Html.Partial("~/Views/Shared/UserLayout/_Footer_top.cshtml")
    <!--footer-->
    @Html.Partial("~/Views/Shared/UserLayout/_Footer.cshtml")


    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="~/Content/OnlineOrderForDigitalrintingOfPhotos/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />

    <script>
        $(document).ready(function () {
            $(".megamenu").megamenu();
        });
    </script>
    <script type="text/javascript" src="~/Content/OnlineOrderForDigitalrintingOfPhotos/js/megamenu.js"></script>
    <script src="~/Content/OnlineOrderForDigitalrintingOfPhotos/js/menu_jquery.js"></script>
    <script src="~/Content/OnlineOrderForDigitalrintingOfPhotos/js/simpleCart.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
